.responsible-sex-section {
    color: #FB15B2;
    margin-bottom: 8.6rem;
    @include spacingX(8.372vw);
    @include md {
        @include spacingX(7.031vw);
        margin-bottom: 15.885vw;
    }
    .responsible-sex-wrapper {
        @include borderGradient(180deg, var(--unnamed-color-pink));
    }
    & .responsible-sex {
        background-color: #191919;
        border-radius: .8rem;
        display: flex;
        flex-direction: column;
        gap: 3.8rem;
        
        @include spacing(13.953vw, 5.349vw);
        @include md {
            @include spacing(4.063vw, 3.646vw);
            flex-direction: row;
            gap: 5.9rem;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include md {
            max-width: 27.135vw;
        }
        h2 {
            font-size: var(--font-size-40);
            margin-bottom: 3rem;
            font-weight: 700        ;
            @include md {
                font-size: var(--font-size-77);
                line-height: 110%;
                margin-bottom: 0;
            }
        }
        p {
            font-size: var(--font-size-14);
            @include md {
                font-size: var(--font-size-18);
                line-height: 2.031vw;
            }
        }
    }

    &__video {
        @include borderGradient(180deg, var(--unnamed-color-pink));
        position: relative;
        cursor: pointer;
        width: 100%;
        .video {
            max-width: 100%;
            width: 100%;
        }
        .play {
            display: block;
            font-size: --font-size-18;
            margin: 0 auto;
            left: 50%;
            margin-left: -4.323vw;
            position: absolute;
            top: 50%;
            margin-top: -4.167vw;
            &.active {
                color: transparent;
            }
            img {
                max-width: 9.531vw;
                height: 9.375vw;
            }
        }
        iframe {
            width: 100%;
            border-radius: 8px;
        }
    }
}

.featured-section {
    @include spacingX(8.372vw);
    margin-bottom: 17.907vw;
    position: relative;
    @include md {
        @include spacingX(4.167vw);
        margin-bottom: 13.021vw;
    }
    .featured-section-wrapper {
        &:not(:only-child, :last-child){
            margin-bottom: 21.163vw;
            @include md {
                margin-bottom: 5.26vw;
            }
        }
        
        .featured-section-title {
            font-size: var(--font-size-14);
            text-transform: uppercase;
            margin-bottom: 3.953vw;
            @include md {
                font-size: var(--font-size-18);
                margin-bottom: 2.031vw;
            }
        }
    }
}

.collaboration-section {
    color: var(--unnamed-color-ffffff);
    margin-bottom: 20vw;
    @include spacingX(15.116vw);
    @include md {
        @include spacingX(7.031vw);
        margin-bottom: 11.979vw;
    }
    &__content {
        // margin-bottom: 9.459vw;
        text-align: center;
        // @include md {
        //     margin-bottom: 5.625vw;
        // }
        .our-collaboration {
            font-size: var(--font-size-14);
            text-transform: uppercase;
            opacity: .5;
            margin-bottom: 7.907vw;
            @include md {
                font-size: var(--font-size-18);
                margin-bottom: 4.74vw;
            }
        }
        .collaborator-logo {
            margin-bottom: 10.233vw;
            @include md {
                margin-bottom: 3.177vw;
            }
            img {
                height: 6.279vw;
                @include md {
                    height: 5.365vw;
                }
                &:not(:last-child) {
                    margin-right: 3.953vw;
                    @include md {
                        margin-right: 1.927vw;
                    }
                }
            }
        }
        p {
            font-size: var(--font-size-14);
            @include md {
                font-size: var(--font-size-18);
                line-height: 2.031vw;
            }
        }
    }
}