.articles__tabs {
    margin-bottom: 15vw;
    margin-top: 5vw;
    @include md {
        margin-bottom: 7.813vw;
    }
    .tab-btn {
        display: block;
        margin-bottom: 2rem;
        background-color: transparent;
        border: 2px solid #646464;
        border-radius: 4rem;
        color: #646464;
        text-transform: uppercase;
        font-size: 1.8rem;
        padding: 1.6rem 5.4rem;
        min-width: 15rem;
        text-align: center;
        &.active,
        &:hover {
            border-color: var(--unnamed-color-light-green) ;
            color: var(--unnamed-color-light-green);
        }
        &:not(:last-child){
            margin-right: 0;
        }

        @include md {
            display: inline-block;
            &:not(:last-child){
                margin-right: 2rem; 
            }
        }
        @include lg {
            margin-bottom: 0;
        }
    }
}

.tab-item {
    display: none;
    // flex-basis: 28.49vw;
    margin-bottom: 5.865vw;
    @include md {
        // flex-basis: 28.49vw;
        margin-bottom: 2.865vw;
        max-width: 30.33%;
        width: 100%;
    }
}
.show {
    display: block;
    @include md {
        display: inline-block;
    }
    // display: flex;
}

.articles-section {
    padding-bottom: 20vw;
    background-image: url(../images/article-bottom-bg.png);
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: 90%;
      @include md {
        background-position: bottom right;
        background-size: 50%;
      }
    @include spacingX(8.372vw);
    @include md {
        @include spacingX(4.375vw);
        padding-bottom: 11.979vw ;
    }
    // .articles__tabs {
    //     margin-bottom: 15vw;
    //     margin-top: 5vw;
    //     @include md {
    //         margin-bottom: 7.813vw;
    //     }
    //     .tab-btn {
    //         display: block;
    //         margin-bottom: 20px;
    //         background-color: transparent;
    //         border: 2px solid #646464;
    //         border-radius: 4rem;
    //         color: #646464;
    //         text-transform: uppercase;
    //         font-size: 1.8rem;
    //         padding: 1.6rem 5.4rem;
    //         min-width: 15rem;
    //         text-align: center;
    //         &.active,
    //         &:hover {
    //             border-color: var(--unnamed-color-light-green) ;
    //             color: var(--unnamed-color-light-green);
    //         }
    //         &:not(:last-child){
    //             margin-bottom: 20px;
    //             margin-right: 0;
    //         }

    //         @include md {
    //             display: inline-block;
    //             &:not(:last-child){
    //                 margin-right: 2rem;
    //                 margin-bottom: 0;
    //             }
    //         }
    //     }
    // }
    .articles__tab-panels {
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        // gap: 5rem;
        text-align: center;
        margin-bottom: 8rem;
        @include md {
            // flex-direction: row;
            // gap: 5.5rem;
            margin-bottom: 10rem;
        }

        & > .tab-item {
            // display: inline-block;
            &:not(:last-child) {
                margin-right: 2%;
            }
        }
    
        & .sexual-health {
            .card--with-footer {
                // @include borderGradient(0deg, var(--unnamed-color-light-green));
                @include cardBorderGradient(330deg, var(--unnamed-color-light-green), 27%, 43%);
            }
            .article-caption {
                background-color: var(--unnamed-color-light-green);
            }
            .title {
                color: var(--unnamed-color-light-green);
            }
            .learn-more-btn {
                color: var(--unnamed-color-light-green);
            }
        }

        .sex-positivity {
            .card--with-footer {
                // @include borderGradient(0deg, var(--unnamed-color-blue));
                @include cardBorderGradient(330deg, var(--unnamed-color-blue), 27%, 43%);
            }
            .article-caption {
                background-color: var(--unnamed-color-blue);
                color: var(--unnamed-color-ffffff);
            }
            .title {
                color: #C2C7E0;
            }
            .learn-more-btn {
                color: #C2C7E0;
            }
        }

        .consent-and-agency {
            .card--with-footer {
                // @include borderGradient(0deg, #D3003A);
                @include cardBorderGradient(330deg, #D3003A, 27%, 43%);
            }
            .article-caption {
                background-color: #D3003A;
                color: var(--unnamed-color-ffffff);
            }
            .title {
                color: #D3003A;
            }
            .learn-more-btn {
                color: #ED1559;
            }
        }
        .article-caption {
            display: inline-block;
            border-top-left-radius: 1.8rem;
            border-top-right-radius: 1.8rem;
            font-size: 1.4rem;
            color: var(--unnamed-color-black22);
            padding: 1.1rem 3.4rem;
            position: absolute;
            bottom: 0;
            left: 0;
            text-transform: uppercase;
            text-align: left;
            width: auto;
            @include md {
                width: 14.375vw;
                font-size: 0.729vw;
            }
        }
    
        .tab-panel {
            background-color: var(--unnamed-color-black22);
            border-radius: .8rem;
        }
    }
}
