html {
  font-size: 62.5%; // 10/16
  min-height: 100%;
  letter-spacing: -.2px;
}

body {
    font-family: $gotham-medium;
    background-color: var(--unnamed-color-000000);
    background-image: url(../images/body-paint-splatter.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    &.body--homepage {
      background-image: url(../images/body-paint-splatter.png),url(../images/red-paint-homepage-bottom.png);
      background-repeat: no-repeat, no-repeat;
      background-position: top center, bottom right;
      background-size: 100%, 140%;
      @include md {
        background-size: 100%, 60%;
      }
    }
    padding: 0;
    margin: 0; 
    @include md {
      // background-size: 100%;
    }
}

p {
  font-family: $gotham-light;
}

.text-color-light-purple {
  color: var(--unnamed-color-d9b8fc);
}

.hidden {
  display: none !important;
}
.block {
  display: block;
}

.m-auto {
  margin: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-khtml-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-moz-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-ms-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-o-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 120px 120px 124px var(--unnamed-color-light-green);
  }
  ::-khtml-scrollbar-track {
    -webkit-box-shadow: inset 120px 120px 124px var(--unnamed-color-light-green);
  }
  ::-moz-scrollbar-track {
    -webkit-box-shadow: inset 120px 120px 124px var(--unnamed-color-light-green);
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 76px #383838;
  }
  ::-khtml-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 76px #383838;
  }
  ::selection {
    background: rgba(48, 30, 100, 0.7);
    /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: rgba(48, 30, 100, 0.7);
    /* Gecko Browsers */
  }