/* Target Chrome - Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0)  and (min-resolution:.001dpcm) {
    .button {
        display: inline-block;
        svg,
        img {
            position: relative;
            top: .4rem;
        }
    }
    .mission-section__content .our-mission {
        margin-bottom: 2rem;
    }
}
