.swiper {
  width: 100%;
  height: 100%;
  overflow-y: visible;
  overflow-x: clip;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  .swiper-slide {
    background-color: var(--unnamed-color-3b1468);
    border-radius: 40px;
  }
}

.swiper-pagination {
  position: relative;
  margin-top: 10vw;
  @include md {
    margin-top: 3.646vw;
  }
  
  & .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border-radius: 50%;
    font-size: 0px;
    border: .2rem solid var(--unnamed-color-ffffff);
    opacity: 1;

    @include md {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  & .swiper-pagination-bullet-active {
    background-color: var(--unnamed-color-ffffff);
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 7.1rem;
  height: 7.1rem;
  border-radius: 50%;
  top: 42%;
  background-color: var(--unnamed-color-ffffff);
  display: none;
  @include md {
    display: flex;
  }
  &:after {
    line-height: 0;
  }
}

// .swiper-button-next:after, .swiper-button-prev:after {
//   line-height: 0;
// }
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -9rem;
  &:after {
    content: url(../images/slide-arrow-left.png);
  }
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -9rem;
  &:after {
    content: url(../images/slide-arrow-right.png);
  }
}