@font-face {
    font-family: "Gotham Medium";
    src: url(../fonts/GothamMedium.ttf);
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url(../fonts/GothamBook.ttf);
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
  
@font-face {
    font-family: "Gotham Bold";
    src: url(../fonts/GothamBold.ttf);
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

$font-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$gotham-medium: "Gotham Medium", $font-default;
$gotham-bold: "Gotham Bold", $font-default;
$gotham-book: "Gotham Book", $font-default;